#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.options {
  display: flex;
  gap: 10px;
}

.color-box {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
